.app-header {
    display: flex;
    min-height: 3.5rem;

    background-color: transparent;
    padding: .8rem 1rem;

    .div-nav-logo {
        grid-column: 2 / 3;

        text-transform: uppercase;
    }

    .div-nav-bar {
        grid-column: 3 / 4;

        display: flex;
        justify-content: space-around;

        font-weight: 200;
        color: var(--gray4);
    }

    & nav {
        width: 100%;
        padding: 1.4rem;

        display: grid;
        grid-template-columns: 100px 1fr 1fr 100px;
        justify-content: space-between;
        align-items: center;

        font-size: .9em;

        .active {
            color: var(--gray4);
        }

        .logo {
            font-size: 1em;
            font-weight: 200;
            /* margin-inline-end: 2em; */
        }

        .login-link {
            margin-inline-start: auto;
        }

        & button {
            margin-inline-end: 0;
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;

        color: var(--clr1);

        .score {
            padding: 8px;
            background-color: var(--clr2);
            border-radius: 50%;
            margin: 10px;

            color: var(--gray1);
        }

        & img {
            width: 2em;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }
}